<!DOCTYPE HTML>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h1>Welcome to my simple http server</h1>
        <p>This is the Home Page</p>
        <img src="/static/eltz.png" alt="Sample Image">

        <h2>Submit your name</h2>
        <form action="/submit" method="POST">
            <label for="name">Enter you name:</label>
            <input type="text" id="name" name="name" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>
